/** wells.less **/

@import '../variables/variables.less';

.cps-well, .cps-well__light, .cps-well__dark {
	background-color: #f9f9f9;
	border: 0.1rem solid #dfdfdf;
	border-radius: 0.5rem;
	color: @dark-gray;
	box-sizing: border-box;

	&__light {
		background-color: #ffffff;
	}

	&__dark {
		background-color: #f3f3f3;
	}
}
