/** cards.less **/

@import "./flexible-masonry.less";
@import "../variables/variables.less";

.bss-card {
	background-color: @white;
	border-radius: .2rem;
	color: @dark-gray;
	.depth-z1();

	&__hr {
		margin-left: -24px;
		width: ~'calc(100% + 48px)';
		margin-top: 16px;
		margin-bottom: 16px;
	}

	&.\+thin {
		.bss-card__header {
			height: 3.6rem;
			background-color: @gray2;
			padding: .8rem 1.6rem;
			border-radius: 2px 2px 0 0;
		}

		.bss-card__body {
			padding:1.6rem 1.6rem;
		}
	}
}

.bss-fixed-masonry, .bss-flexible-focus {
	min-width: 70.0rem;
	max-width: 136.0rem;
	margin: 0 auto 0 auto;
}

.bss-fixed-focus {
  width: 76.0rem;
  margin: 0 auto 0 auto;
}

.bss-fixed-masonry__card {
	height:100%;
	margin-bottom: .8rem;
	margin-top: .8rem;

	&.\+fixed-height {
		min-height: 29.6rem;
	}
}

.bss-card__banner {
	height: 56px;
	padding: 1.2rem 2.4rem 1.6rem 2.4rem;
	font-weight: 400;
	> i {
		font-size:32px;
		> span {
			vertical-align: middle;
			font-size: 18px;
			color: @dark-gray;
		}
	}
	&.\+warning {
		background-color:rgba(255, 138, 101, 0.2);
	}
}

.bss-card__header {
	padding: 1.6rem 2.4rem 1.6rem 2.4rem;
	border-bottom: .1rem solid @breakline-light;
	font-weight: 400;

	&.\+no-border {
		border-bottom: 0;
	}

	h3,h4 {
		margin: 0;
		color: @dark-gray;
	}

}

.bss-content-footer {
	padding:16px 2.4rem;
	border-top: .1rem solid @breakline-light;
	a {
		color: @dark-gray;
		text-decoration: none;
		padding: .4rem .8rem;
		&:hover {
			border: .1rem solid #E9E9E9;
			border-radius: .2rem;
		}
	}
}

.bss-card__body {
	padding:16px 24px;
}

.bss-card__footer {
	padding: 16px 24px 16px 24px;
	border-top: 1px solid @breakline-light;
}

.bss-card__inset-body {
	padding:16px 24px;
	background-color: @inset-background;
	box-shadow: inset 2px 5px 6px -6px rgba(153, 153, 153, 0.51);
}

.bss-centered-card {
	background-color: @white;
	max-width: 800px;
	margin: 88px auto 0 auto;
	border-radius: 3px;
	box-shadow: 0px 2px 5px 0px rgba(153,153,153,.3);
}
