<div class="bs-topnav">
	<!-- GLOBAL PRIMARY NAVIGATION -->
	<div class="bs-topnav__bar"></div>
	<div class="bs-topnav__content" bs-has-access="teamMember">
		<a class="bs-topnav__content__brand" href>
			<img src="/images/logo.png" alt="Company Logo">
		</a>
		<ul class="bs-topnav__content__menu padding-left-28">
			<li><a href>My Clients</a></li>
			<li><a ui-sref="calendar">Calendar</a></li>
		</ul>

		<ul class="bs-topnav__content__menu bss-pull-right">
			<li class="bs-topnav__content__menu__form">
				<div client-search></div>
			</li>
			<li class="dropdown" dropdown on-toggle="toggled(open)">
				<a href class="dropdown-toggle padding-right-0" dropdown-toggle>
				 Mike Hewitt <b class="caret"></b>
				</a>
				<ul class="dropdown-menu" role="menu">
					<li><a href>My Profile</a></li>
					<li><a href>Team Members</a></li>
					<li><a href>Company Profile</a></li>

					<li class="divider"></li>
					<li><a href="https://beanstalk.reamaze.com" target="_blank">Help</a>
					</li>
					<li class="divider"></li>
					<li><a href="/signout">Sign out</a>
					</li>
				</ul>
			</li>
		</ul>
	</div>

	<!-- GLOBAL SECONDARY NAVIGATION -->
	<div class="bs-topnav__secondary">
		<div class="bs-topnav__secondary__content" >
			<ul class="bs-topnav__secondary__content__menu padding-top-12">
				<li><a href>Mike Lewis</a></li>
				<li><a href>Calendar</a></li>
			</ul>
			<ul class="bs-topnav__secondary__content__menu bss-pull-right">
				<li>
					<div class="label-square +medium">
						<div class="bss-center-vertical">AC</div>
					</div>
				</li>
				<li>
					<div class="label-square +medium">
						<div class="bss-center-vertical">DV</div>
					</div>
				</li>
				<li>
					<div class="label-square +medium +active">
						<div class="bss-center-vertical">KL</div>
					</div>
				</li>
				<li>
					<div class="label-square__add">
						<div class="bss-center-vertical">+</div>
					</div>
				</li>
			</ul>
		</div>
	</div>
</div>


<div class="bs-flexible-sidenav +tall-top">
	<div class="bs-flexible-sidenav__menu">
		<a class="bs-flexible-sidenav__menu__item +active"  href="/492939/app/client/1">
			<i class="fa fa-home bs-flexible-sidenav__menu__item__icon"></i>  <span class="bs-flexible-sidenav__menu__item__title">Home</span>
		</a>
		<a href="/492939/app/client/1/dates" class="bs-flexible-sidenav__menu__item" >
			<i class="fa fa-calendar bs-flexible-sidenav__menu__item__icon"></i>  <span class="bs-flexible-sidenav__menu__item__title">Dates</span>
		</a>
		<a href="/492939/app/client/1/files" class="bs-flexible-sidenav__menu__item">
			<i class="fa fa-file-text bs-flexible-sidenav__menu__item__icon"></i>  <span class="bs-flexible-sidenav__menu__item__title">Files</span>
		</a>
		<a href="/492939/app/client/1/notes" class="bs-flexible-sidenav__menu__item ng-scope">
			<i class="fa fa-pencil bs-flexible-sidenav__menu__item__icon"></i>  <span class="bs-flexible-sidenav__menu__item__title">Notes</span>
		</a>
		<a href="/492939/app/taxes/client/1/engagements/list/active" class="bs-flexible-sidenav__menu__item ng-scope">
			<i class="fa fa-clipboard bs-flexible-sidenav__menu__item__icon"></i>  <span class="bs-flexible-sidenav__menu__item__title">Taxes</span>
		</a>
	</div>
</div>
