/************Menus************/

.bss-dropdown {
	position: relative;
}

.bss-dropdown-menu {
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 1000;
	display: none;
	float: left;
	min-width: 160px;
	padding: 8px 0;
	margin: 2px 0 0;
	font-size: 14px;
	list-style: none;
	background-color: #fff;
	background-clip: padding-box;
	border-radius: 2px;
	.depth-z2;

	&.bss-pull-right {
		right: 0;
		left: auto;
	}

	.bss-divider {
		height: .1rem;
		margin: .35rem 0rem .35rem 0rem;
		overflow: hidden;
		background-color: #e5e5e5;
	}

	li > a {
		display: block;
		padding: .8rem 1.6rem;
		clear: both;
		font-weight: normal;
		line-height: 1.42857143;
		color: @dark-gray;
		white-space: nowrap;
		text-decoration: none;
	}

	&__icon {
		font-size: 2.4rem;
		display: inline-block;
		vertical-align: middle;
		margin-right: 2rem;
	}


	li > a:hover,
	li > a:focus,
	.bss-active > a,
	.bss-active > a:hover,
	.bss-active > a:focus  {
		color: @dark-gray;
		text-decoration: none;
		background-color: @gray4;
		outline:none;
	}

}

.bss-open > .bss-dropdown-menu, .bss-dropdown.open > .bss-dropdown-menu {
	display: block;
}

.bss-dropdown > a.bss-link, .bss-link  {
	color: @light-gray;
	font-weight: 400;
}

.bss-open a.bss-link  {
	background-color: rgba(0,0,0,.05);
}

.bss-caret {
	display: inline-block;
	width: 0;
	height: 0;
	margin-left: 2px;
	vertical-align: middle;
	border-top: 4px solid;
	border-right: 4px solid transparent;
	border-left: 4px solid transparent;
}

