@import "./variables/variables.less";
@import "./mixins/mixins.less";

h1,h2,h3,h4,h5,h6 {
	font-weight: 400;
}

.bss-header {
	font-size: 4rem;
	line-height: 5.2rem;
}
.bss-header-sm {
	font-size: 3.2rem;
	line-height: 4.4rem;
}
.bss-subheader {
	font-size: 2.4rem;
	line-height: 3.2rem;
}
.bss-subheader-sm {
	font-size: 1.8rem;
	line-height: 2.8rem;
}
.bss-body {
	font-size: 1.6rem;
	line-height: 2.4rem;
}
.bss-body-sm {
	font-size: 1.4rem;
	line-height: 2.0rem;
}
.bss-caption {
	font-size: 1.2rem;
	line-height: 1.6rem;
}

.bss-light {
	font-weight: 300;
}

.bss-regular {
	font-weight: 400;
}

.bss-semibold {
	font-weight: 600;
}

.bss-text-danger {
	color: #F44336 !important;
}
.bss-text-success {
	color: #5AB963 !important;
}
.bss-text-muted-dark {
	color: @dark-gray;
}
.bss-text-muted-medium {
	color: @medium-gray;
}
.bss-text-muted-light {
	color: @light-gray;
}
