@import "./variables/variables.less";
@import "./mixins/mixins.less";

h4 {
	font-size: 18px;
	line-height: 24px;
}

.bss-header-lg {
	font-size: 40px;
	line-height: 48px;
}
.bss-header-sm {
	font-size: 32px;
	line-height: 40px;
}
.bss-subheader-lg {
	font-size: 24px;
	line-height: 28px;
}
.bss-subheader-sm {
	font-size: 18px;
	line-height: 24px;
}
.bss-body-lg {
	font-size: 16px;
	line-height: 20px;
}
.bss-body-sm {
	font-size: 14px;
	line-height: 20px;
}
.bss-caption {
	font-size: 12px;
	line-height: 16px;
}
.bss-text-danger {
	color: #F44336 !important;
}
.bss-text-success {
	color: #5AB963 !important;
}
.bss-text-muted-dark {
	color: @dark-gray;
}
.bss-text-muted-medium {
	color: @medium-gray;
}
.bss-text-muted-light {
	color: @light-gray;
}
