@import "./variables/variables.less";
@import "../lib/for.less";

.bss-clearfix {
	.clearfix;
}

.bss-cursor-pointer {
	cursor: pointer;
}

.bss-pull-right {
	float: right !important;
}

.bss-pull-left {
	float: left !important;
}

.bss-center-block {
	.center-block;
}

.bss-text-center {
	text-align: center!important;
}

.bss-text-right {
	text-align: right!important;
}

.bss-inline-block {
	display: inline-block!important;
	vertical-align: top;
}

.bss-center-vertical {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

.bss-show {
	display: block !important;
}

.bss-hidden {
	display: none !important;
	visibility: hidden !important;
}

.bss-ellipsis {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

/* make sure to have `ngVisible` just add the extra CSS class */
.ng-visible.ng-hide:not(.ng-hide-animate) {
  visibility: hidden;
}

.bss-row:before,
.bss-row:after,
.bss-form-horizontal .bss-form-group:before, .bss-form-group-resize:before,
.bss-form-horizontal .bss-form-group:after, .bss-form-group-resize:after {
	display: table;
	content: " ";
}

.bss-row:after,
.bss-form-horizontal .bss-form-group:after, .bss-form-group-resize:after{
	clear: both;
}

.createSizeClasses(@sizes) {
	.for(@sizes); .-each(@size) {
		@name: @size;
		@scale: @size / 10;
		.bss-margin-@{name} {
			margin: ~"@{scale}rem!important";
		}
		.bss-margin-top-@{name} {
			margin-top: ~"@{scale}rem!important";
		}
		.bss-margin-bottom-@{name} {
			margin-bottom: ~"@{scale}rem!important";
		}
		.bss-margin-right-@{name} {
			margin-right: ~"@{scale}rem!important";
		}
		.bss-margin-left-@{name} {
			margin-left: ~"@{scale}rem!important";
		}
		.bss-padding-@{name} {
			padding: ~"@{scale}rem!important";
		}
		.bss-padding-top-@{name} {
			padding-top: ~"@{scale}rem!important";
		}
		.bss-padding-bottom-@{name} {
			padding-bottom: ~"@{scale}rem!important";
		}
		.bss-padding-right-@{name} {
			padding-right: ~"@{scale}rem!important";
		}
		.bss-padding-left-@{name} {
			padding-left: ~"@{scale}rem!important";
		}
	}
}

@sizes: 0, 4, 8, 12, 16, 24, 32;
.createSizeClasses(@sizes);
