@import "./variables/variables.less";

.clearfix {
	.clearfix;
}

.pull-right {
	float: right !important;
}

.pull-left {
	float: left !important;
}

.center-block {
  .center-block;
}

.center-vertical {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

.show {
	display: block !important;
}

.hidden {
	display: none !important;
	visibility: hidden !important;
}

.row:before,
.row:after,
.nav:before,
.nav:after,
.navbar:before,
.navbar:after,
.navbar-header:before,
.navbar-header:after{
	display: table;
	content: " ";
}

.row:after,
.nav:after,
.navbar:after,
.navbar-header:after{
	clear: both;
}

.bss-sm-padding {
	padding: 6px 8px;
}

.bottom-sm-space {
	margin-bottom: 8px;
}

.bottom-md-space {
	margin-bottom: 16px;
}

.bottom-lg-space {
	margin-bottom: 24px;
}

.left-sm-space {
	margin-left: 8px;
}

.left-md-space {
	margin-left: 16px;
}

.left-lg-space {
	margin-left: 24px;
}

.top-sm-space {
	margin-top: 8px;
}

.top-md-space {
	margin-top: 16px;
}

.top-lg-space {
	margin-top: 24px;
}

.right-sm-space {
	margin-right: 8px;
}

.right-md-space {
	margin-right: 16px;
}

.right-lg-space {
	margin-right: 24px;
}
