.tooltip {
	background-color: #777777;
	font-size: 12px;
	max-width: 240px;
	padding: 8px;
	color: white;
	border-radius: 5px;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.26);
	z-index: 100000;
	position: absolute;
	word-wrap: break-word;
	text-align: center;
	font-weight: normal;
}

.caretTop {
	width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 5px solid #777777;
	z-index: 10055000;
	position: absolute;
}

.caretBottom {
	width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 5px solid #777777;
	z-index: 10055000;
	position: absolute;
}