.button {
	height: 32px;
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	-webkit-appearance: none;
		 -moz-appearance: none;
			  	appearance: none;
	margin: 0px;
	padding: 4px 24px;
	font-size: 14px;
	text-align: center;
	line-height: 1.75;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	-webkit-user-select: none;
		 -moz-user-select: none;
			-ms-user-select: none;
					user-select: none;
	background-image: none;
	border: 0px solid transparent;
	font-weight: 600;
	border-radius: 5px;
	color: white;
	text-decoration: none;
	box-shadow: 0 1px 4px 0 rgba(0,0,0,.26);
}

.button:hover, .button:focus {
	box-shadow: 0 4px 8px 0 rgba(0,0,0,.06), 0 2px 6px 0 rgba(0,0,0,.26);
	text-decoration: none;
}

.button:focus {
	outline: none;
}

.button + .button {
	margin-left: 24px;
}

.button + :global(.cps-link), .button + .flat {
	margin-left: 12px;
}

.primary {
	background-color: #00BF4B;
}

.primary:focus {
	background-color: #00BF4B;
}

.secondary {
	background-color: #f4f4f4;
	color: #777777;
}

.secondary:focus {
	background-color: #e9e9e9;
}

.button :global(.cps-icon) {
	float: left;
	padding-right: 4px;
	color: inherit;
}

.disabled, .button:disabled {
	pointer-events: none;
	cursor: not-allowed;
	background-color: #e2e2e2;
	color: rgba(0,0,0,.24);
	box-shadow: none !important;
}

.large {
	padding: 0 28px;
	font-size: 18px;
	height: 48px;
	padding: 8px 28px;
}

:global(.cps-loader).loader {
	padding: 0;
	display: flex;
	justify-content: center;
}

.disabledWithLoader > span {
	background-color: #afafaf;
}

a.flat, .flat {
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	-webkit-appearance: none;
		 -moz-appearance: none;
			  	appearance: none;
	font-size: 14px;
	color: #00BF4B;
	text-decoration: none;
	padding: 4px 12px 4px 12px;
	border-radius: 5px;
	line-height: 1.75; /* accounts for icon */
	font-weight: 600;
	background-color: transparent;
	cursor: pointer;
}

a.flat:hover, .flat:hover {
	background-color: rgba(0,0,0,.05);
}

a.flat + :global(.cps-btn), .flat + :global(.cps-btn), a.flat + .button, .flat + button {
	margin-left: 12px;
}

a.flat:global(.\+align), .flat:global(.\+align) {
	margin-left: -12px;
}

a.flat:global(.\+disabled), a.flat:disabled, .flat:global(.\+disabled), .flat:disabled {
	pointer-events: none;
	cursor: not-allowed;
	color: rgba(0,0,0,.24);
	box-shadow: none !important;
}

a.flat:focus, .flat:focus {
	background-color: rgba(0,0,0,.1);
	outline:none;
}

.a.flat :global(.cps-icon), .flat :global(.cps-icon) {
	float: left;
	padding-right: 4px;
	color: inherit;
}

button.flat {
	border: none;
}

button.flat::-moz-focus-inner {
	border: 0;
}

button.cps-btn {
	padding: 0px 24px;
	height: 32px;
}

button.cps-btn::-moz-focus-inner {
	border: 0;
}

fieldset:disabled .cps-link {
	pointer-events: none;
	cursor: not-allowed;
	color: rgba(0,0,0,.24);
	box-shadow: none !important;
}

:global(.cps-btn-icon) a.flat, :global(.cps-btn-icon) .flat {
	padding: 4px !important; /* 8px + 24px icon height = 32px */
}
