.colorpicker {
	width: 100%;
	position: relative;
	display: flex;
	align-items: center;
}

.bar {
	width: 100%;
	border-radius: 5px;
	height: 48px; 
	cursor: "pointer";
}

.slider {
	border-radius: 50%;
	position: absolute;
	box-shadow: -2px 2px 3px rgba(0, 0, 0, 0.2);
}

.grab {
	cursor: grab;
}

.grabbing {
	cursor: grabbing;
}
