<div class="bss-fixed-focus bss-card">
	<div class="bss-card__header">
		<h3 class="bss-subheader">Buttons</h3>
	</div>
	<div class="bss-card__body">

		<div class="bss-subheader-sm padding-bottom-20">Raised Buttons</div>
		<div class="row">
			<div class="col-xs-12">
				<button class="btn +primary">primary</button>
				<button class="btn +secondary">secondary</button>
				<a href class="btn +primary">PRIMARY link</a>
				<a href class="btn +secondary">secondary link</a>
			</div>
		</div>
		<div class="row margin-top-24 margin-bottom-20">
			<div class="col-xs-12">
				<button class="btn +primary +disabled">PRIMARY</button>
				<button class="btn +secondary" disabled>secondary</button>
				<a href class="btn +primary +disabled">PRIMARY link</a>
				<a href class="btn +secondary +disabled">secondary link</a>
			</div>
		</div>

		<br/>

		<div class="bss-subheader-sm padding-bottom-20">Flat Buttons</div>
		<div class="row">
			<div class="col-xs-12">
				<a href class="bss-link">PRIMARY link</a>
			</div>
		</div>
		<div class="row margin-top-24">
			<div class="col-xs-12">
				<a href class="bss-link +disabled">PRIMARY link</a>
			</div>
		</div>

		<br/>

		<div class="bss-subheader-sm padding-bottom-20">Icon Button</div>
		<div class="row">
			<div class="col-xs-12">
				<a href class="bss-link"><i class="bs-icon bs-icon-Work"></i></a>
				<a href class="bss-link"><i class="bs-icon bs-icon-Cog"></i></a>
				<a href class="bss-link"><i class="bs-icon bs-icon-Close"></i></a>
				<a href class="bss-link"><i class="bs-icon bs-icon-Help"></i></a>
				<a href class="bss-link"><i class="bs-icon bs-icon-LargeCheck"></i></a>
			</div>
		</div>
	</div>
</div>
