<div class="bss-page-content margin-top-16">
	<div class="bss-content-header">
		Form Elements
	</div>
	<div class="bss-content-body">
		<div class="bss-subheader-sm margin-bottom-12">Inline checkboxes and radios</div>
		<div class="row">
			<div class="col-xs-12">
				<form>
					<label class="radio-inline">
						<input type="radio" value="1" name="testQuestion">&nbsp;&nbsp;Yes
					</label>
					<label class="radio-inline">
						<input type="radio" value="1" name="testQuestion">&nbsp;&nbsp;No
					</label>
				</form>
			</div>
		</div>
		<div class="row margin-top-16">
			<div class="col-xs-12">
				<label class="checkbox-inline">
					<input type="checkbox" id="inlineCheckbox1" value="option1">1
				</label>
				<label class="checkbox-inline">
					<input type="checkbox" id="inlineCheckbox2" value="option2">2
				</label>
				<label class="checkbox-inline">
					<input type="checkbox" id="inlineCheckbox3" value="option3">3
				</label>
			</div>
		</div>
		<div class="bss-subheader-sm margin-bottom-12 margin-top-20">Stacked checkboxes and radios</div>
		<div class="row">
			<div class="col-xs-12">
				<form>
					<div class="radio">
						<label>
							<input type="radio" name="optionsRadios" id="optionsRadios1" value="option1">Option one is this and that&mdash;be sure to include why it's great
						</label>
					</div>
					<div class="radio">
						<label>
							<input type="radio" name="optionsRadios" id="optionsRadios1" value="option1">Option two is this and that&mdash;be sure to include why it's great
						</label>
					</div>
					<div class="radio">
						<label>
							<input type="radio" name="optionsRadios" id="optionsRadios1" value="option1">Option one is this and that&mdash;be sure to include why it's great
						</label>
					</div>
				</form>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<form>
					<div class="checkbox">
						<label>
							<input type="checkbox">Check me out
						</label>
					</div>
					<div class="checkbox">
						<label>
							<input type="checkbox">Check me out
						</label>
					</div>
					<div class="checkbox">
						<label>
							<input type="checkbox">Check me out
						</label>
					</div>

				</form>
			</div>
		</div>
		<div class="bss-subheader-sm margin-bottom-12 margin-top-20">Top-aligned Inputs</div>

		<div class="row">
			<div class="col-xs-12">

				<form>
					<div class="form-group">
						<label for="exampleInputEmail1">Email address</label>
						<input type="text" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
					</div>
					<div class="form-group has-error">
						<label for="exampleInputPassword1">Password</label>
						<input type="text" class="form-control" id="exampleInputPassword1" placeholder="Password">
						<span class="help-block">This is an error!</span>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
