.bss-form-group {
	margin-bottom: 16px;
	display: block;

	label {
		display: inline-block;
		font-size: 12px; color: @dark-gray;
		padding-top:3px;
		margin-bottom: .2rem;
	}

	.bss-control-label {
		margin-bottom: 0;
		text-align: right;
	}
}

.bss-form-control {
	display: block;
	width: 100%;
	height: 32px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid @gray8;
	border-radius: 2px;
	// -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	// 				box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	-webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
					transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;

	&:hover {
		border-color: @gray10;
	}

	&:focus {
		outline: 0;
		border-color: transparent; /* remove the border's color */
		box-shadow: 0 0 0 2px rgba(76,175,80,.3); /* emulate the border */
	}
}

.bss-form-control[disabled],
.bss-form-control[readonly],
fieldset[disabled] .bss-form-control {
	cursor: not-allowed;
	background-color: #F9F9F9;
	opacity: 1;
	border: 1px dashed #CFCFCF;
}

.bss-form-horizontal {

	.bss-radio, .bss-checkbox,
	.bss-radio-inline, .bss-checkbox-inline {
		padding-top: 7px;
		margin-top: 0;
		margin-bottom: 0;
	}

	.bss-radio, .bss-checkbox {
		min-height: 27px;
	}

	.bss-form-group, .bss-form-group-resize {
		margin-right: -8px;
		margin-left: -8px;
	}

	label {
	}
	.bss-control-label {
		display: inline-block;
		padding-top: 7px;
		margin-bottom: 0;
		text-align: right;
		padding-right: 16px;
	}
	.bss-has-feedback .bss-form-control-feedback, .bss-has-error .bss-form-control-feedback {
		right: 11px;
	}
}


.bss-form-inline {

	.bss-form-group, .bss-form-group-resize {
		display: inline-block;
		margin-bottom: 0;
		vertical-align: middle;
		margin-right: 8px;

		label {
			display: inline-block;
			margin-bottom: 0;
			vertical-align: middle;
			margin-right: 8px;
		}
	}

	.bss-form-control, .bss-form-control-resize {
		display: inline-block;
		width: auto;
		margin-left: 0px;
		vertical-align: middle;
	}


	.bss-radio,
	.bss-checkbox {
		display: inline-block;
		padding-left: 0;
		margin-top: 0;
		margin-bottom: 0;
		vertical-align: middle;

		input[type="radio"],
		input[type="checkbox"] {
			float: none;
			margin-left: 0;
		}

	}
	.bss-has-feedback, .bss-has-error  {
		label ~ .bss-form-control-feedback {
			right: 3px;
		}

		.bss-form-control-feedback {
			top: 0;
		}
	}
}

.bss-help-block {
	display: block;
	font-size: 12px;
	padding-top:8px;
	color: @gray10;
}

.bss-form-control-feedback {
	position: absolute;
	top: 0;
	right: 3px;
	z-index: 2;
	display: none;
	width: 32px;
	height: 32px;
	line-height: 32px;
	font-size:24px;
	text-align: center;
	pointer-events: none;
	color: @light-gray;
}

.bss-form-group > .bss-row > *  > .bss-form-control-feedback {
	right: 8px;
}

.bss-has-feedback .bss-form-control-feedback {
	display: block;
}

.bss-form-help-block {
	display: block;
	> i {
		vertical-align: middle;
	}
	> a {
		vertical-align: middle;
	}
}
.bss-error-block {
	display: none;
	font-size: 12px;
	padding-top:3px;
}

.bss-has-error {

	color: @warning;

	.bss-form-control-feedback, .bss-error-block {
		display: block;
		color: @warning;
	}
	.bss-form-group-resize > .bss-error-block {
		display: inline-block;
		color: black !important;
	}
	.bss-error-block, .bss-radio,
	.bss-checkbox, .bss-radio-inline, .bss-checkbox-inline {
		color: @warning;
	}

	.bss-form-control, .bss-form-control:hover, .bss-form-control:focus {
		background-color: #FFFFFF;
	}

	.bss-form-control, .bss-form-control:hover {
		border: 2px solid rgba(254,153,108, .3);
		box-shadow: none; /* emulate the border */
	}

		.bss-form-control:focus {
		border-color: transparent; /* remove the border's color */
		box-shadow: 0 0 0 2px rgba(254,153,108, .3); /* emulate the border */
	}

	.bss-form-control-resize {
		background-color:  rgba(254,143,108, .3);
		&:focus {
			background-color:  rgba(254,143,108, .3) !important;
		}
	}

	label {
		color: @warning !important;
	}
	.bss-input-group-addon {
		background-color: @warning;
		border-color: @warning;
		color: white;
		> i {
			color: white !important;
		}
	}

}

.bss-has-error, .bss-has-feedback {
	position: relative;

	label ~ .bss-form-control-feedback {
		top: 24px;
	}
	label.sr-only ~ .bss-form-control-feedback {
		top: 0;
	}
}

.bss-form-group-resize {
	display: block;

	label {
		display: block;
		font-size: 14px;
		color: @gray10;
		height: 23px;
		padding-right: 8px !important; // 8px + 16px from col = 24px
	}

}

.bss-form-control-resize {
	display: block;
	width: 100%;
	background: transparent;
	border-radius: 0;
	box-shadow: none;
	color: inherit;
	outline: none;
	font-size: 14px;
	font-weight: 400;
	border: 1px solid transparent;
	margin: 0px;
	color: @medium-gray;
	height: 75%;

		&:focus {
			//background-color:  rgba(84,178,88, .3);
			border: 1px solid @gray9;
		}
}


input[readonly="readonly"].bss-form-control-resize {
	cursor: text;
	border: 1px solid transparent !important;
}

input[type="text"].bss-form-control-resize::-webkit-input-placeholder {
	color: @gray9;
}
input[type="text"].bss-form-control-resize::-moz-placeholder {
	color: @gray9;
}
input[type="text"].bss-form-control-resize::-moz-placeholder {   /* Older versions of Firefox */
	color: @gray9;
}
input[type="text"].bss-form-control-resize::-ms-input-placeholder {
	color: @gray9;
}



@media (min-width: 768px) {
	.bss-form-inline label {
		display: inline-block;
		padding-left: 8px;
	}

	.bss-form-inline .bss-form-control {
		display: inline-block;
		width: auto;
		vertical-align: middle;
	}
}

.bss-has-error .bss-input-required {
	color: @warning;
}

.bss-input-required {
	color:@primary-green;
}

.bss-input-required::after {
	content: '*';
}

.bss-input-group {
	position: relative;
	display: table;
	border-collapse: separate;

	.bss-form-control {
		position: relative;
		z-index: 2;
		float: left;
		width: 100%;
		margin-bottom: 0;
	}

	.bss-form-control:nth-child(2) {
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
	}

	.bss-form-control {
		display: table-cell;
	}
}

.bss-input-group-addon {
	padding: 6px 12px;
	font-size: 14px;
	font-weight: normal;
	line-height: 1;
	color: @light-gray;
	text-align: center;
	background-color: @gray5;
	border: 1px solid @gray8;
	border-radius: 4px;
	width: 1%;
	white-space: nowrap;
	vertical-align: middle;
	display: table-cell;

	&.bss-icon-addon {
		padding: 0px 4px;
	}
	&:first-child {
		border-right: 0;
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
	}
}



