<div class="bss-fixed-focus bss-card">
	<div class="bss-card__header bss-subheader">
		Inputs
	</div>
	<div class="bss-card__body">
		<div class="bss-subheader-sm margin-bottom-12 margin-top-20">Top-aligned Inputs</div>
		<div class="row">
			<div class="col-xs-12">
				<form>
					<div class="form-group">
						<label for="exampleInputEmail1">Email address</label>
						<input type="text" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
					</div>
					<div class="form-group has-error">
						<label for="exampleInputPassword1">Password</label>
						<input type="text" class="form-control" id="exampleInputPassword1" placeholder="Password">
						<span class="help-block">This is an error!</span>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
